// .example-card {
//     width: 270px;
//   }

    .card-image{
      // max-height:100%;
      height: 200px; 
      max-width:100%;
      display: block;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
  .example-header-image {
    background-image: url('/assets/img/man.png');
    background-size: cover;
  }

  .info-header{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 12px;
    font-size: 22px;
  }

  .info-body{
    flex: 1 1 auto;
  }

  .preview{
    height: 200px;
    width: 100%;
    margin-top: 5px;
  }

  .info-card-share{
    float: right;
    position: relative;
    margin-top: -25px;
    margin-right: 5px;
  }