$primary: mat-palette($mat-green, 800);
$accent:  mat-palette($mat-light-green, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);

$green-theme: mat-light-theme(
    $primary,
    $accent,
    $warn
);
