$primary: mat-palette($mat-deep-purple, 800);
$accent:  mat-palette($mat-purple, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);

$purple-theme: mat-light-theme(
    $primary,
    $accent,
    $warn
);
