@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@include mat-core();
@import './themes/blue-theme';
@import './themes/red-theme';
@import './themes/purple-theme';
@import './themes/green-theme';
@import './app/components/side-nav-bar-left/side-nav-bar-left.component.scss-theme.scss';
@import './app/components/content-table/content-table.component.scss-theme.scss';
@mixin my-custom-components($theme) {
    @include app-side-nav-bar-left-theme($theme);
    @include app-content-table-theme($theme);
    /* ... */
}

.blue-theme {
    @include angular-material-theme($blue-theme);
    @include my-custom-components($blue-theme);
}

.red-theme {
    @include angular-material-theme($red-theme);
    @include my-custom-components($red-theme);
}

.purple-theme {
    @include angular-material-theme($purple-theme);
    @include my-custom-components($purple-theme);
}

.green-theme {
  @include angular-material-theme($green-theme);
  @include my-custom-components($green-theme);
}

body {
    font-family: $mat-font-family;
    font-weight: normal;
    color: rgb(117, 117, 117);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}