@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');


@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
    color: rgb(117, 117, 117);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-weight: normal;
}